$sidenav: #303E4D;

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;

  .side {
    background: $sidenav;
    padding: 40px;
    color: #ffffff;
  }

  .content {
    padding: 30px 60px;
  }
}
