<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 fondo"></div>
    <div class="col-md-4 login">
      <div class="caja-header text-center">
        <h3 class="title">DevsLack</h3>
        <img src="assets/imgs/logo.png" class="img-fluid imagen" alt="">

      </div>
      <div class="caja-contenido text-center">
        <p>Ingresa con tu cuenta favorita.</p>
        <button (click)="login('twitter')" type="button" class="boton boton-twitter mr-3"><i class="fa fa-twitter"
            aria-hidden="true"></i>
          Twitter</button>
        <button (click)="login('google')" type="button" class="boton boton-gmail"><i class="fa fa-google"
            aria-hidden="true"></i> Google</button>
      </div>
    </div>
  </div>
</div>
