<div class="header-room animated fadeIn">
  <h2 class="room-title"># {{ room.name }}</h2>
  <span><i class="fa fa-user-o" aria-hidden="true"></i> <span class="total"> 4</span></span>

</div>
<div class="chat-room animated fadeIn" id="app-mensajes">
  <div class="day" *ngFor="let message of messages">
    <h5 class="fecha">{{ message.date }}</h5>
    <div class="message" *ngFor="let item of message.messages">
      <img [src]="item.user?.url_img" class="img-fluid photo" alt="">
      <div class="user_connected">
        <div class="head">
          <span class="user">{{ item.user?.name }}</span>
          <span class="time">{{ item.time }}</span>
        </div>
        <div class="texto">
          <p class="text-message">{{ item.message }}</p>
        </div>
      </div>
    </div>


  </div>


</div>
<div class="input-group mt-3 animated fadeIn">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">
      <i class="fa fa-upload" aria-hidden="true"></i>
    </span>
  </div>
  <input [disabled]="disabled" (keyup.enter)="enviar()" type="text" class="form-control" [(ngModel)]="message"
    aria-label="Username" aria-describedby="basic-addon1">
</div>
